.display__user {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--color__one);
    padding-left: 10px;
    .display__user-avatar{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: white;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 9px;
        .display__user-chart {
            color: var(--color__two);
            font-size: 20px;
            font-weight: bold;
        }
    }
    .display__user-name {
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        p:nth-child(2) {
            color: var(--color__two);
        }
    }
    .display__user-close {
        display: none;
    }
    @include media('tablet'){
        flex-direction: row;
        .display__user-avatar{
            background-color: var(--color__two);
            .display__user-chart{
                color: white;
            }
        }
        .display__user-name {
            text-align: left;
            margin-left: 10px;
            p:nth-child(1){
                color: rgba(0, 0, 0, 0.5)
            }
            p:nth-child(2) {
                color: var(--color__one);
            }
        }
        .display__user-close{
            display: block;
            margin: auto 0 auto 10px;
            font-weight: bold;
            width: 20px;
            height: 20px;
            cursor: pointer;
            .fill__icon{
                padding: 5px;
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                .fill__icon{
                    fill: rgb(212, 63, 63);
                }
            }
        }
    }
}